#root, .book, #books, #content, #scroll {
	-fx-background-color: transparent;
}

#search {
	-fx-max-width: 1170;
	-fx-pref-width: 1170;
	-fx-padding: 10;
}

#content {
	-fx-max-width: 1170;
	-fx-alignment: top-center;
}

.menu-button {
	-fx-pref-width: 390;
	-fx-padding: 10;
	-fx-background-color: rgb(255, 255, 255);
	-fx-text-fill: rgb(66, 139, 202);
	-fx-border-width: 0 0 1 0;
	-fx-border-color: rgb(221 ,221 ,221);
	-fx-border-radius: 4 4 0 0;
}

.menu-button:hover {
	-fx-background-color: rgb(238, 238, 238);
	-fx-cursor: HAND;
}

.menu-button.active {
	-fx-border-width: 1 1 0 1;
	-fx-text-fill: rgb(85, 85, 85);
}

.menu-button.active:hover {
	-fx-background-color: rgb(255, 255, 255);
}

.book {
	-fx-pref-width: 380;
	-fx-max-width: 380;
	-fx-font-size: 14;
	-fx-padding: 10 0;
	-fx-text-fill: rgb(0, 0, 0);
	-fx-alignment: bottom-center;
}

.link {
	-fx-padding: 20 0 10 -1;
	-fx-font-size: 24;
	-fx-wrap-text: true;
}

#scroll {
	-fx-padding: 10 0;
}

#scroll > .viewport {
   -fx-background-color: rgb(255, 255, 255);
}

.status-buttons {
	-fx-padding: 10 0;
}

.status-button {
	-fx-font-size: 12;
	-fx-background-color: rgb(255, 255, 255);
	-fx-border-width: 1;
	-fx-border-color: rgb(204, 204, 204);
	-fx-border-radius: 3;
	-fx-padding: 1 5;
}

.status-button:hover {
	-fx-background-color: rgb(235, 235, 235);
	-fx-cursor: HAND;
}

.status-button.active {
	-fx-background-color: rgb(71, 164, 71);
}